{% extends 'base.html.twig' %}

{% block title %}Hello
    {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">On s'amuse avec Twig !</h1>
    </div>
{% endblock %}